<h1><%= @merchant.name %></h1>

<%= link_to "Items", "/merchants/#{@merchant.id}/items" %><br/><br/>
<%= link_to "Invoices", "/merchants/#{@merchant.id}/invoices" %>


<h2> Top 5 Customers </h2>
<div id="top5">
    <% @customers.each do |customer| %>
      <p> <%= "#{customer.first_name} #{customer.last_name} - #{customer.successful_transactions_count} successful transactions" %> </p>
    <% end %>
</div>